<div class="container">

  <h2 class="homepage">Jasmine Vollherbst is a developer and designer working at the intersection of art and technology. </h2>

</div>

<div id="thumbs">
<% @images.each do |i| %>
     <div class="thumbnail <%= i.category %>"><img src="<%= asset_path i.thumb %>" class="img-thumb" /></div>
 <% end %>
</div>
