    <div class="port-descr">
     <h2><%= @image.imgname %></h2>
     <p><%= @image.description %></p>
    </div>

    <div class="port-img">
      <img src="<%= asset_path @image.imgurl %>" />
    </div>
