<!DOCTYPE html>
<html>
<head>
  <title>Jasmine Vollherbst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Roboto+Condensed" rel="stylesheet">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

  <script src="https://use.typekit.net/fet5jkl.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<header>
  <h1 class="main-logo">jasmine[at]jasminevollherbst.com</h1>


  <nav>
    <ul>
      <li></li>
      <li> <a href="http://www.linkedin.com/in/jasminevollherbst"><i class="ion-social-linkedin-outline"></i></a></li>
      <li><a href="http://www.github.com/jvollherbst"><i class="ion-social-github-outline"></i></a></li>
      <li><a href="https://twitter.com/JVollherbst"><i class="ion-social-twitter-outline"></i>
      </a></li>
  </ul>
  </nav>
</header>

 <%= yield %>
</body>
</html>
